In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import math
import csv

main_df = pd.read_csv("n107.csv")

In [2]:
num_of_peaks = 50
main_df.head()

   ID  Sensor1  Sensor2
0   0        4        8
1   1        8        3
2   2       28       10
3   3        0        1
4   4        5        3

In [3]:
len(main_df)

478

In [4]:
avg = main_df["Sensor1"].mean()
print("Average1 :",avg)
avg2 = main_df["Sensor2"].mean()
print("Average2:",avg2)

Average1 : 37.91841004184101
Average2: 5.623430962343096

In [5]:
for i in range(len(main_df)):
    if(main_df.at[i,'Sensor1']<avg and main_df.at[i,'Sensor2']<avg2):
        main_df = main_df.drop(index = i)
        #print(i)

In [6]:
id = []
for i in range(len(main_df)):
    id.append(i)
main_df["ID"] = id

main_df = main_df.drop(index = 0)
main_df.drop(index = 1)
main_df.drop(index = 2)
print(main_df)

In [7]:
main_df.set_index("ID", inplace = True)
main_df.head()

    Sensor1  Sensor2
ID
0         4        8
1        28       10
2         7        6
3         0       10
4        43        1

In [8]:
limit = int(len(main_df)/num_of_peaks)
rms_id = []
rms_values = []
mean_values = []
kurtosis_values = []
sd_values = []
skew_values = []
rms_values2 = []
mean_values2 = []
kurtosis_values2 = []
sd_values2 = []
skew_values2 = []

In [9]:
for i in range(num_of_peaks):
    rms_id.append(i)

In [10]:
from scipy import stats
from scipy.stats import kurtosis
for i in range(num_of_peaks):
    val = 0
    mean = 0
    val2 = 0
    mean2 = 0
    part_data_s1 = []
    part_data_s2 = []
    for j in range(limit):
        val = val + (main_df.at[i+j, 'Sensor1'])*(main_df.at[i+j, 'Sensor1'])
        mean = mean + (main_df.at[i+j, 'Sensor1']) 
        val2 = val2 + (main_df.at[i+j, 'Sensor2'])*(main_df.at[i+j, 'Sensor2'])
        mean2 = mean2 + (main_df.at[i+j, 'Sensor2']) 
        part_data_s1.append(main_df.at[i+j, 'Sensor1'])
        part_data_s2.append(main_df.at[i+j, 'Sensor2'])
    val = val/limit
    mean = mean/limit
    val2 = val2/limit
    mean2 = mean2/limit
    val = math.sqrt(val)
    val2 = math.sqrt(val)
    rms_values.append(val) 
    rms_values2.append(val2)
    mean_values.append(mean)
    mean_values2.append(mean2)
    kurtosis_values.append(kurtosis(part_data_s1)) 
    kurtosis_values2.append(kurtosis(part_data_s2))
    sd_values.append(stats.tstd(part_data_s1))
    sd_values2.append(stats.tstd(part_data_s2))
    skew_values.append(stats.skew(part_data_s1))
    skew_values2.append(stats.skew(part_data_s2))

In [11]:
print(rms_id) 
print(len(rms_id)) 
print(rms_values) 
print(len(rms_values))  
print(rms_values2) 
print(len(rms_values2))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
50
[23.22929185317538, 23.177575369309018, 35.005713819318125, 39.81708176147519, 56.616252083655276, 56.17472741366886, 62.247891530557084, 58.45511098270193, 58.7554252814155, 49.14671911735309, 45.77772384031342, 42.63097465458654, 46.37024908279014, 59.26550430056257, 58.731592861082866, 61.264998163714985, 60.9639237582359, 66.1392470474226, 52.90935645044268, 54.120236510939236, 54.881690936048976, 54.40404396733758, 41.83539171562757, 48.23691532426177, 45.628938186199335, 41.20679555607303, 43.669211121796096, 65.86349520030045, 72.28692827890808, 69.52121978216435, 69.6419413859206, 67.8837241170518, 46.538156388065055, 24.625190354594217, 40.02249367543207, 47.977077860161515, 47.65081321446676, 45.976080737705345, 53.74197614528144, 49.41457274934187, 49.90591147349179, 52.369838647832395, 52.369838647832395, 46.47795176209898, 43.26892649465665, 52.87910740547726, 54.11284505549491, 54.15902510200862, 52.1957852704603, 50.65372641770791]
50
[4.8196775673457015, 4.814309438466645, 5.916562669263136, 6.310077793615162, 7.524377189087166, 7.494980147650083, 7.889733299076534, 7.645594220379599, 7.665208756545089, 7.010472103742592, 6.765923724098094, 6.529239975264084, 6.809570403688483, 7.698409205840033, 7.663654014964589, 7.827196060130025, 7.807939789613896, 8.13260395245106, 7.273881800692301, 7.356645737762506, 7.408217797557587, 7.375909704391559, 6.468028425697244, 6.945280075292988, 6.754919554384, 6.419251946767087, 6.6082683905692035, 8.115632766476097, 8.502171974202126, 8.33793858109811, 8.345174736691893, 8.239157973789057, 6.8218880369048165, 4.962377490134564, 6.326333351589376, 6.926548769781493, 6.902956845763035, 6.780566402425785, 7.330891906533709, 7.029549967767629, 7.064411615519851, 7.236700812375235, 7.236700812375235, 6.817474001571182, 6.577912016335932, 7.271802211658212, 7.3561433547406425, 7.359281561539048, 7.224665062856568, 7.1171431359575665]
50

In [12]:
print(rms_values2) 
print(len(rms_values2))

[4.8196775673457015, 4.814309438466645, 5.916562669263136, 6.310077793615162, 7.524377189087166, 7.494980147650083, 7.889733299076534, 7.645594220379599, 7.665208756545089, 7.010472103742592, 6.765923724098094, 6.529239975264084, 6.809570403688483, 7.698409205840033, 7.663654014964589, 7.827196060130025, 7.807939789613896, 8.13260395245106, 7.273881800692301, 7.356645737762506, 7.408217797557587, 7.375909704391559, 6.468028425697244, 6.945280075292988, 6.754919554384, 6.419251946767087, 6.6082683905692035, 8.115632766476097, 8.502171974202126, 8.33793858109811, 8.345174736691893, 8.239157973789057, 6.8218880369048165, 4.962377490134564, 6.326333351589376, 6.926548769781493, 6.902956845763035, 6.780566402425785, 7.330891906533709, 7.029549967767629, 7.064411615519851, 7.236700812375235, 7.236700812375235, 6.817474001571182, 6.577912016335932, 7.271802211658212, 7.3561433547406425, 7.359281561539048, 7.224665062856568, 7.1171431359575665]
50

In [13]:
data = {'ID': rms_id,
        'rms':rms_values,
        'mean': mean_values,
        'kurtosis':kurtosis_values,
        'SD': sd_values,
        'skewness':skew_values,
        'rms2':rms_values2,
        'mean2': mean_values2,
        'kurtosis2':kurtosis_values2,
        'SD2': sd_values2,   
        'skewness2':skew_values2
       }
df = pd.DataFrame(data)

In [14]:
df.to_csv("n107_50.csv")