In [47]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import math
import csv

main_df = pd.read_csv("f051.csv")

In [48]:
num_of_peaks = 50
main_df.head()

   ID  Sensor1  Sensor2
0   0        0       15
1   1       69        4
2   2       53        2
3   3       93        6
4   4       14        3

In [49]:
len(main_df)

655

In [50]:
avg = main_df["Sensor1"].mean()
print("Average1 :",avg)
avg2 = main_df["Sensor2"].mean()
print("Average2:",avg2)

Average1 : 46.267175572519086
Average2: 5.543511450381679

In [51]:
for i in range(len(main_df)):
    if(main_df.at[i,'Sensor1']<avg and main_df.at[i,'Sensor2']<avg2):
        main_df = main_df.drop(index = i)
        #print(i)

In [52]:
id = []
for i in range(len(main_df)):
    id.append(i)
main_df["ID"] = id

main_df = main_df.drop(index = 0)
main_df.drop(index = 1)
main_df.drop(index = 2)
print(main_df)

In [53]:
main_df.set_index("ID", inplace = True)
main_df.head()

    Sensor1  Sensor2
ID
0         0       15
1        69        4
2        53        2
3        93        6
4        99        0

In [54]:
limit = int(len(main_df)/num_of_peaks)
rms_id = []
rms_values = []
mean_values = []
kurtosis_values = []
sd_values = []
skew_values = []
rms_values2 = []
mean_values2 = []
kurtosis_values2 = []
sd_values2 = []
skew_values2 = []

In [55]:
for i in range(num_of_peaks):
    rms_id.append(i)

In [56]:
from scipy import stats
from scipy.stats import kurtosis
for i in range(num_of_peaks):
    val = 0
    mean = 0
    val2 = 0
    mean2 = 0
    part_data_s1 = []
    part_data_s2 = []
    for j in range(limit):
        val = val + (main_df.at[i+j, 'Sensor1'])*(main_df.at[i+j, 'Sensor1'])
        mean = mean + (main_df.at[i+j, 'Sensor1']) 
        val2 = val2 + (main_df.at[i+j, 'Sensor2'])*(main_df.at[i+j, 'Sensor2'])
        mean2 = mean2 + (main_df.at[i+j, 'Sensor2']) 
        part_data_s1.append(main_df.at[i+j, 'Sensor1'])
        part_data_s2.append(main_df.at[i+j, 'Sensor2'])
    val = val/limit
    mean = mean/limit
    val2 = val2/limit
    mean2 = mean2/limit
    val = math.sqrt(val)
    val2 = math.sqrt(val)
    rms_values.append(val) 
    rms_values2.append(val2)
    mean_values.append(mean)
    mean_values2.append(mean2)
    kurtosis_values.append(kurtosis(part_data_s1)) 
    kurtosis_values2.append(kurtosis(part_data_s2))
    sd_values.append(stats.tstd(part_data_s1))
    sd_values2.append(stats.tstd(part_data_s2))
    skew_values.append(stats.skew(part_data_s1))
    skew_values2.append(stats.skew(part_data_s2))

In [57]:
print(rms_id) 
print(len(rms_id)) 
print(rms_values) 
print(len(rms_values))  
print(rms_values2) 
print(len(rms_values2))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
50
[67.27555276621665, 71.09236949209107, 68.04502186052996, 67.57958271549181, 65.62011886609167, 55.50563034503797, 52.96107060851395, 44.32691056232094, 48.41874636956228, 48.251942966060966, 50.082432049572034, 50.32643440578718, 57.03288525052893, 57.03288525052893, 56.959415376213265, 60.18305409332431, 75.3657747256671, 74.95331880577403, 77.89014700204385, 87.79236868885587, 80.12802256389459, 83.75932783875477, 83.91364608929825, 86.50722513177729, 77.75602870517501, 77.95190825117753, 72.78478549806958, 58.014006929361464, 60.473134530963414, 72.61542535852834, 74.27735186448155, 76.47875521999558, 69.72087205421343, 70.178344238091, 70.93571032984727, 75.9687435726036, 72.40079419453906, 55.09310301662087, 53.90037105623671, 51.130959310382586, 53.75872022286245, 54.06939984871295, 52.87248812000434, 51.2847443203142, 55.22793677116682, 59.91765182314808, 62.52299576955666, 66.13716806758511, 64.703168392282, 70.06425622241343]
50
[8.20216756511452, 8.43162911257908, 8.24894065080662, 8.220680185695818, 8.100624597282094, 7.450210087308812, 7.277435716549748, 6.657845789917407, 6.9583580225195565, 6.946361851074342, 7.0768942375573225, 7.094112658098064, 7.5520120001579, 7.5520120001579, 7.547146174297492, 7.757773784619162, 8.681346365954251, 8.657558478334064, 8.825539473711725, 9.369758197992939, 8.951425727999679, 9.152012228944779, 9.160439186485453, 9.300926036249148, 8.817937894155017, 8.829037787390964, 8.53139997292763, 7.6166926503149295, 7.776447423532382, 8.521468497772455, 8.618430939822025, 8.74521327470037, 8.349902517647342, 8.377251592144706, 8.422334019133134, 8.716005023667874, 8.50886562325079, 7.422472837041633, 7.341687207736156, 7.15059153569707, 7.332033839451538, 7.353189773745333, 7.2713470636467585, 7.1613367690895675, 7.431550092084882, 7.74064931534481, 7.9071483968341365, 8.132476133846636, 8.043827968839338, 8.370439428274565]
50

In [58]:
print(rms_values2) 
print(len(rms_values2))

[8.20216756511452, 8.43162911257908, 8.24894065080662, 8.220680185695818, 8.100624597282094, 7.450210087308812, 7.277435716549748, 6.657845789917407, 6.9583580225195565, 6.946361851074342, 7.0768942375573225, 7.094112658098064, 7.5520120001579, 7.5520120001579, 7.547146174297492, 7.757773784619162, 8.681346365954251, 8.657558478334064, 8.825539473711725, 9.369758197992939, 8.951425727999679, 9.152012228944779, 9.160439186485453, 9.300926036249148, 8.817937894155017, 8.829037787390964, 8.53139997292763, 7.6166926503149295, 7.776447423532382, 8.521468497772455, 8.618430939822025, 8.74521327470037, 8.349902517647342, 8.377251592144706, 8.422334019133134, 8.716005023667874, 8.50886562325079, 7.422472837041633, 7.341687207736156, 7.15059153569707, 7.332033839451538, 7.353189773745333, 7.2713470636467585, 7.1613367690895675, 7.431550092084882, 7.74064931534481, 7.9071483968341365, 8.132476133846636, 8.043827968839338, 8.370439428274565]
50

In [59]:
data = {'ID': rms_id,
        'rms':rms_values,
        'mean': mean_values,
        'kurtosis':kurtosis_values,
        'SD': sd_values,
        'skewness':skew_values,
        'rms2':rms_values2,
        'mean2': mean_values2,
        'kurtosis2':kurtosis_values2,
        'SD2': sd_values2,   
        'skewness2':skew_values2
       }
df = pd.DataFrame(data)

In [61]:
df.to_csv("f051_50.csv")