In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import math
import csv

main_df = pd.read_csv("f070.csv")

In [2]:
num_of_peaks = 50
main_df.head()

   ID  Sensor1  Sensor2
0   0       61        4
1   1        0        4
2   2       57        5
3   3       18        4
4   4        0        0

In [3]:
len(main_df)

448

In [4]:
avg = main_df["Sensor1"].mean()
print("Average1 :",avg)
avg2 = main_df["Sensor2"].mean()
print("Average2:",avg2)

Average1 : 42.19642857142857
Average2: 6.892857142857143

In [5]:
for i in range(len(main_df)):
    if(main_df.at[i,'Sensor1']<avg and main_df.at[i,'Sensor2']<avg2):
        main_df = main_df.drop(index = i)
        #print(i)

In [6]:
id = []
for i in range(len(main_df)):
    id.append(i)
main_df["ID"] = id

main_df = main_df.drop(index = 0)
main_df.drop(index = 1)
main_df.drop(index = 2)
print(main_df)

In [7]:
main_df.set_index("ID", inplace = True)
main_df.head()

    Sensor1  Sensor2
ID
0        61        4
1        57        5
2        57        2
3        51        1
4         0        7

In [8]:
limit = int(len(main_df)/num_of_peaks)
rms_id = []
rms_values = []
mean_values = []
kurtosis_values = []
sd_values = []
skew_values = []
rms_values2 = []
mean_values2 = []
kurtosis_values2 = []
sd_values2 = []
skew_values2 = []

In [9]:
for i in range(num_of_peaks):
    rms_id.append(i)

In [10]:
from scipy import stats
from scipy.stats import kurtosis
for i in range(num_of_peaks):
    val = 0
    mean = 0
    val2 = 0
    mean2 = 0
    part_data_s1 = []
    part_data_s2 = []
    for j in range(limit):
        val = val + (main_df.at[i+j, 'Sensor1'])*(main_df.at[i+j, 'Sensor1'])
        mean = mean + (main_df.at[i+j, 'Sensor1']) 
        val2 = val2 + (main_df.at[i+j, 'Sensor2'])*(main_df.at[i+j, 'Sensor2'])
        mean2 = mean2 + (main_df.at[i+j, 'Sensor2']) 
        part_data_s1.append(main_df.at[i+j, 'Sensor1'])
        part_data_s2.append(main_df.at[i+j, 'Sensor2'])
    val = val/limit
    mean = mean/limit
    val2 = val2/limit
    mean2 = mean2/limit
    val = math.sqrt(val)
    val2 = math.sqrt(val)
    rms_values.append(val) 
    rms_values2.append(val2)
    mean_values.append(mean)
    mean_values2.append(mean2)
    kurtosis_values.append(kurtosis(part_data_s1)) 
    kurtosis_values2.append(kurtosis(part_data_s2))
    sd_values.append(stats.tstd(part_data_s1))
    sd_values2.append(stats.tstd(part_data_s2))
    skew_values.append(stats.skew(part_data_s1))
    skew_values2.append(stats.skew(part_data_s2))

In [11]:
print(rms_id) 
print(len(rms_id)) 
print(rms_values) 
print(len(rms_values))  
print(rms_values2) 
print(len(rms_values2))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
50
[50.635955604688654, 47.5562824451197, 41.23105625617661, 36.18563250794437, 45.13756750202651, 48.88967171090434, 44.14068418137626, 54.36359075704989, 52.0807066004293, 62.32335035923534, 59.42558371610665, 62.59872203168368, 60.56731791981547, 61.02786248919423, 66.17854637267277, 71.92635122123184, 71.68681887209112, 70.64134766551386, 73.8836923820135, 57.51869261379295, 51.10185906598702, 51.78609852074203, 57.42647473073722, 68.10873659083687, 64.04061211450122, 85.93253167456432, 85.5219270129012, 80.6337398363737, 72.59338812867189, 78.09865555821047, 62.00322572253802, 65.08302390024606, 62.1353361622837, 60.91797764207213, 54.35991169970753, 63.19177161624763, 58.557663887829406, 68.18210909028849, 77.65693787421701, 77.9089211836488, 66.53420173113976, 68.07348970047003, 71.64077051511939, 64.40807402802851, 71.60726220153931, 70.19544144743304, 70.32211600911907, 62.619485785177126, 55.030900410587506, 39.9274341775176]
50
[7.1158945751527725, 6.896106324957563, 6.4211413515181714, 6.0154494851128435, 6.718449784141169, 6.992114966939855, 6.643845586810116, 7.373166942166025, 7.216696377181827, 7.894513940657483, 7.7087991098553506, 7.911935416298826, 7.782500749747183, 7.812033185361813, 8.135019752445151, 8.480940467968859, 8.466806887610648, 8.404840728146718, 8.595562365663662, 7.584107898348556, 7.14855643231464, 7.196255868209664, 7.578025780553746, 8.252801741883593, 8.002537854612198, 9.269980133450359, 9.247806605509288, 8.979629159178774, 8.520175357859243, 8.837344372503, 7.874212704933619, 8.067405028895354, 7.8825970442668005, 7.8049969661795595, 7.372917448317696, 7.949325230247384, 7.652297948187159, 8.257245853811577, 8.812317395226808, 8.826603037615818, 8.156849988269967, 8.25066601556929, 8.464087104651002, 8.025464100475967, 8.462107432639893, 8.37827198457015, 8.385828284022937, 7.913247486662927, 7.4182814998210675, 6.3188158841287345]
50

In [12]:
print(rms_values2) 
print(len(rms_values2))

[7.1158945751527725, 6.896106324957563, 6.4211413515181714, 6.0154494851128435, 6.718449784141169, 6.992114966939855, 6.643845586810116, 7.373166942166025, 7.216696377181827, 7.894513940657483, 7.7087991098553506, 7.911935416298826, 7.782500749747183, 7.812033185361813, 8.135019752445151, 8.480940467968859, 8.466806887610648, 8.404840728146718, 8.595562365663662, 7.584107898348556, 7.14855643231464, 7.196255868209664, 7.578025780553746, 8.252801741883593, 8.002537854612198, 9.269980133450359, 9.247806605509288, 8.979629159178774, 8.520175357859243, 8.837344372503, 7.874212704933619, 8.067405028895354, 7.8825970442668005, 7.8049969661795595, 7.372917448317696, 7.949325230247384, 7.652297948187159, 8.257245853811577, 8.812317395226808, 8.826603037615818, 8.156849988269967, 8.25066601556929, 8.464087104651002, 8.025464100475967, 8.462107432639893, 8.37827198457015, 8.385828284022937, 7.913247486662927, 7.4182814998210675, 6.3188158841287345]
50

In [13]:
data = {'ID': rms_id,
        'rms':rms_values,
        'mean': mean_values,
        'kurtosis':kurtosis_values,
        'SD': sd_values,
        'skewness':skew_values,
        'rms2':rms_values2,
        'mean2': mean_values2,
        'kurtosis2':kurtosis_values2,
        'SD2': sd_values2,   
        'skewness2':skew_values2
       }
df = pd.DataFrame(data)

In [14]:
df.to_csv("f070_50.csv")